
{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block main %}
<div class="quotes bg-light p-4">
  <p>Happy clients say...</p>
  <div>
    <div class="" id="element1" >"Immersive and exciting!"<br>
      <em class="text-success">Barack Obama</em></div>
    <div class="d-none" id="element2" class="d-none">"Best game ever!"<br>
      <em class="text-success">Adam Sandler</em></div>
    <div class="d-none" id="element3" >"Utterly entertaining!"<br>
      <em class="text-success">Keanu Reeves</em></div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="loremParagraph bg-light p-4">
      <h2>Anagram Hunt</h2> 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit tincidunt eleifend. Sed a enim eget mi maximus vestibulum. Praesent lacinia eget urna et pellentesque. Pellentesque euismod metus lacinia, viverra nulla a, ultrices metus. Mauris sed orci dolor. In tempus imperdiet metus, laoreet cursus lorem. Suspendisse potenti.</p>
    </div>
  </div>
  <div class="col">
    <div class="loremParagraph bg-light p-4">
      <h2>Math Facts Practice</h2>
      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit tincidunt eleifend. Sed a enim eget mi maximus vestibulum. Praesent lacinia eget urna et pellentesque. Pellentesque euismod metus lacinia, viverra nulla a, ultrices metus. Mauris sed orci dolor. In tempus imperdiet metus, laoreet cursus lorem. Suspendisse potenti.</p>
    </div>
  </div>
</div>
{% endblock %}

<!-- 
  {% if user.is_authenticated %}
     <--Show content for logged-in users -->
    <!--<p>Welcome, {{ user.username }}!</p>
{% else %}
    <--Show content for non-logged-in users -->
    <!--<p>Please log in to access this content.</p>
{% endif %}-->