{% extends '_base_vue.html' %}

{% block content %}
<h2>Leaderboard - {{ game_type }}</h2>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in leaderboard %}
        <tr>
            <td>{{ entry.user.username }}</td>
            <td>{{ entry.final_score }}</td>
            <td>{{ entry.recorded_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
